
// Color theme
//      https://coolors.co/e8c547-30323d-4d5061-5c80bc-cdd1c4
$color-background-primary: #CDD1C4;
$color-background-secondary: #4D5061;
$color-background-highlight: #E8C547;
$color-font-primary: #30323D;
$color-link-primary: #5C80BC;
