label {
    display: block;
}

input[type=text] {
    width: 60%;
    box-sizing: border-box;

    padding: 2px 5px;

    font-size: 1.1em;
    font-family: 'News Cycle', sans-serif;
}

// TODO: move to separate scss file
input[type=submit] {
    display: block;
    width: 10%;
    background-color: $color-background-highlight;
    font-size: 1.1em;

    margin-top: 5px;
    font-family: 'News Cycle', sans-serif;
}